*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    color:black;
    background-image: url(../img/333537.jpg) ;
    width: 100vw;
}

header{
    display: flex;
    flex-direction: row;
    box-shadow: -5px 4px 15px rgb(19, 73, 49);
    background-color:rgb(21, 56, 30);
    align-items: center;
    justify-content: center; 
}

header h1{
    font-size: 40px;
    color: rgb(209, 202, 202);
    padding: 10px;
}

footer{
    box-shadow: -5px 4px 15px rgb(6, 32, 13);
    color: white;
    background-color:rgb(21, 56, 30);
    width:100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

footer p{
    font-size: 20px;
    box-shadow: -5px 4px 15px rgb(6, 94, 53);
    
}

#Salario{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 10%;
gap: 25px;
background-color: rgba(10, 8, 8, 0.55);
box-shadow: -5px 4px 15px rgb(8, 112, 35);
border-radius: 15%;
height: 350px;
width: 350px;
}

#Salario label{
    font-size: 20px;
    text-align: center;
    width: 150px;
}

#Salario input{
    width: 135%;
}

.vale{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: -30px;
    
}

#checkbox{
    width: 25px;
    height: 25px;
}

.Meio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100vw;
    height: 80vh;
    gap: 40px;
}

#Resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(10, 8, 8, 0.55);
    border-radius: 15%;
    height: 350px;
    width: 350px;
    gap: 20px;
    box-shadow: -5px 4px 15px rgb(8, 112, 35);
    padding: 30px;
}
.tabela_impostos{
    display: flex;
    
}

#Resultado h2{
    display: flex;
}


.valor-salario-bruto{
    display: flex;
    padding: 10px;
}

.valor-inss{
    display: flex;
    padding: 10px;
}

.valor-irrf{
    display: flex;
    padding: 10px;
}

.valor-transporte{
    display: flex;
    padding: 10px;
}

.valor-salario-liquido{
    display: flex;
    padding: 10px;
}

.botao2{
    background-color: forestgreen;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: -10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid #47a447;
    padding: 4px;
}

.botao{
    background-color: forestgreen;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid #47a447;
    padding: 4px;
    
}